<template>
  <div class="row">
    <ds-modal ref="modal" title="Adicionar produto" @didtappedButtonPrimary="createProduct">
      <p class="message-error" v-show="messageError">
        {{ messageError }}
      </p>
      <div class="row">
        <div class="col-12 col-sm-12 mb-3">
          <label for="inputEmail4" class="form-label">Número do produto</label>
          <input type="text" class="form-control" placeholder="Digite o nome do produto" v-model="product.code" />
        </div>
        <div class="col-12 col-sm-6">
          <label for="inputEmail4" class="form-label">Nome do produto</label>
          <input type="text" class="form-control" placeholder="Digite o nome do produto" v-model="product.name" />
        </div>
        <div class="col-12 col-sm-6">
          <label for="inputEmail4" class="form-label">Modelo do produto</label>
          <input type="text" class="form-control" placeholder="Digite o modelo do produto" v-model="product.model" />
        </div>
      </div>
      <div class="row mt-3">
        <label for="inputEmail4" class="form-label">Altura do produto</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Altura" v-model="product.height">
          <span class="input-group-text">X</span>
          <input type="text" class="form-control" placeholder="Largura" v-model="product.width">
          <span class="input-group-text">X</span>
          <input type="text" class="form-control" placeholder="Profundidade" v-model="product.depth">
        </div>
        <div class="col-12 mb-3">
          <label for="inputEmail4" class="form-label">URL da imagem do produto</label>
          <input type="text" class="form-control" placeholder="Digite a URL da imagem do produto" v-model="product.urlImage" />
        </div>
        <div class="col-12 mt-3">
          <label for="inputEmail4" class="form-label">Descrição do produto</label>
          <textarea class="form-control" placeholder="Digite a descrição do produto" id="floatingTextarea2"
            v-model="product.description" style="height: 100px"></textarea>
        </div>
      </div>
    </ds-modal>
    <div class="col">
      <h3>Listagem de produtos</h3>
      <p class="my-3">Visualize os produtos que estão disponivel na plataforma.</p>
    </div>
    <div class="col" v-if="$route.meta.role == 'admin'">
      <ds-button class="float-end" type="primary" text="Criar produto" @click="showModal" />
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-2" v-for="item in products" :key="item.id">
      <ds-card :title="item.name" :description="item.description" :urlImage="item.urlImage" @click="
        $router.push({
          name: 'OverviewProduct',
          params: { id: item.id },
        })
      " />
    </div>
  </div>
</template>
<script lang="ts">
import { AdaptedProduct } from "@/Interfaces/ListProduct/AdapterListProducts";
import { ListProductViewInterface } from "@/Interfaces/ListProduct/ListProductViewInterface";
import { Product } from "@/Interfaces/ListProduct/ProductInterface";
import { defineComponent } from "vue";
import { ListProductPresenter } from "./ListProductPresenter";

export default defineComponent({
  data() {
    return {
      presenter: null as ListProductPresenter | null,
      product: {
        urlImage: "",
        code: "",
        name: "",
        description: "",
        model: "",
        height: "",
        width: "",
        depth: ""
      } as Product,
      messageError: "" as string | null,
      products: [] as AdaptedProduct[]
    };
  },
  mounted() {
    this.presenter = new ListProductPresenter(this as ListProductViewInterface);
    this.getProducts()
  },
  methods: {
    getProducts(): void {
      this.presenter?.getProducts()
    },
    setProductsView(products: AdaptedProduct[]): void {
      this.products = products
    },
    showModal(): void {
      const modalRef = this.$refs.modal as { showModal: () => void };
      modalRef.showModal();
    },
    showHide(): void {
      const modalRef = this.$refs.modal as { hideModal: () => void };
      modalRef.hideModal();
    },
    createProduct(): void {
      this.messageError = null
      if (!this.presenter) return;
      this.presenter.createProduct(this.product)
    },
    productCreatedSuccess(): void {
      this.showHide()
      this.resetForm()
      alert("Produto registrado com sucesso!")
      this.$router.go(0)
    },
    showError(message: string): void {
      this.messageError = message
    },
    resetForm(): void {
      this.product = {
        id: "",
        urlImage: "",
        code: "",
        name: "",
        description: "",
        model: "",
        height: "",
        width: "",
        depth: ""
      };
    },
  }
});
</script>
<style  lang="scss" src="./ListProduct.scss" />
