<template>
  <div class="card shadow-sm mb-3 border-0 ds-card-feedback">
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-subtitle text-muted">
        {{ description }}
      </p>
      <p class="card-text">
        <small class="text-muted">{{ inforBottom }}</small>
      </p>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      default: "",
      required: true,
    },
    dateFeedback: {
      type: String,
      required: true,
    },
    inforBottom: {
      type: String,
      default: "",
      required: true,
    },
  },
});
</script>

<style scoped lang="scss" src="./CardFeedback.scss"></style>