<template>
  <div class="card shadow-sm mb-3 ds-card">
    <img :src="urlImage || require('@/assets/geladeira.jpeg')" class="card-img-top img-fluid w-100" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <p class="card-text limited-text">
        {{ description }}
      </p>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    urlImage: {
      type: String,
      default: "",
      required: true,
    },
    title: {
      type: String,
      default: "",
      required: true,
    },
    description: {
      type: String,
      default: "",
      required: true,
    },
  },
});
</script>

<style scoped lang="scss" src="./Card.scss"></style>