<template>
  <h3>{{ product.name }}</h3>
  <p class="my-2">Codigo do produto #{{ product.code }}</p>
  <ds-modal ref="modal" title="Adicionar avaliação" @didtappedButtonPrimary="sendFeedback">
    <div class="row">
      <div class="col-6">
        <label for="inputEmail4" class="form-label">Título da avaliação</label>
        <input type="text" class="form-control" placeholder="Escreva brevemente o que você achou" aria-label="First name"
          v-model="feedback.title" />
      </div>
      <div class="col-12 mt-3">
        <label for="inputEmail4" class="form-label">Avaliação do produto</label>
        <textarea class="form-control" placeholder="avaliação do produto" id="floatingTextarea2"
          v-model="feedback.description" style="height: 100px"></textarea>
      </div>
    </div>
  </ds-modal>
  <div class="row mb-4">
    <div class="col-12 col-md-8 pe-0 image-product">
      <img :src="product.urlImage || require('@/assets/geladeira.jpeg')"
        class="d-block w-100 img-fluid rounded-start border" alt="..." />
    </div>
    <div class="col-12 col-md-4 ps-0 d-flex align-items-stretch" id="card-value">
      <div class="card card-value w-100 border-start-0 rounded-start-0">
        <div class="card-body">
          <h5 class="card-title">R$ 999,00</h5>
          <p class="card-subtitle mb-2 text-muted">até 6x de R$ 166,50</p>
          <p class="card-subtitle mb-2 text-muted">mais formas de pagamento</p>
          <h6>Descrição do produto</h6>
          <p>{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item mb-5">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <strong> Ficha técnica </strong>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <span class="data-sheet mb-2">Modelo do produto: <strong>{{ product.model }}</strong></span> <br />
          <span class="data-sheet">Dimensões do produto: <strong>{{ product.height }} x {{ product.width }} x {{
            product.depth }}</strong></span>

        </div>
      </div>
    </div>
    <div class="accordion-item mb-5">
      <h2 class="accordion-header" id="headingFeedbacks">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFeedbacks"
          aria-expanded="true" aria-controls="collapseFeedbacks">
          <strong>Avaliações</strong>
        </button>
      </h2>
      <div id="collapseFeedbacks" class="accordion-collapse collapse show" aria-labelledby="headingFeedbacks"
        data-bs-parent="#accordiFeedbacksxample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-2 text-center">
              <ds-button text="Avaliar produto" type="primary" @on-click="showModal" />
            </div>
            <div class="col-10 list-comment">
              <ds-cardFeedback :title="item.title" :description="item.description" :inforBottom="item.inforBottom"
                v-for="(item, index) in feedbacks" :key="index" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { FeedbackFormInterface } from "@/Interfaces/OverviewProduct/FeedbackInterface.js"
import { OverviewProductPresenter } from "./OverviewProductPresenter";
import { OverviewProductViewInterface } from "@/Interfaces/OverviewProduct/OverviewProductViewInterface";
import { Product } from "@/Interfaces/ListProduct/ProductInterface";
import { LocalStorageService } from "@/services/LocalStorageService";
import { AdapterListFeedbacks } from "@/Interfaces/OverviewProduct/AdapterListFeedbacks";
export default defineComponent({
  data() {
    return {
      presenter: null as OverviewProductPresenter | null,
      feedback: {
        title: "",
        description: "",
        created_at: ""
      } as FeedbackFormInterface,
      product: {
        id: "",
        urlImage: "",
        code: "",
        name: "",
        description: "",
        model: "",
        height: "",
        width: "",
        depth: ""
      } as Product,
      feedbacks: [] as AdapterListFeedbacks[]
    };
  },
  mounted() {
    this.presenter = new OverviewProductPresenter(this as OverviewProductViewInterface);
    this.getProduct(this.$route.params.id as string);
    this.getFeedbacks(this.$route.params.id as string)
  },
  methods: {
    showModal(): void {
      console.log(LocalStorageService.getUser() == null);
      if (LocalStorageService.getUser() == null) {
        this.$router.push({ name: "Login" })
        return;
      }
      const modalRef = this.$refs.modal as { showModal: () => void };
      modalRef.showModal();
    },
    hideModal(): void {
      const modalRef = this.$refs.modal as { hideModal: () => void };
      modalRef.hideModal();
      this.$router.go(0)
    },
    getProduct(id: string): void {
      if (!this.presenter) return;
      this.presenter.getProduct(id)
    },
    setProduct(product: Product): void {
      this.product = product
    },
    getFeedbacks(id: string): void {
      if (!this.presenter) return;
      this.presenter.getFeedbacks(id)
    },
    setFeedbacks(feedbacks: AdapterListFeedbacks[]) {
      this.feedbacks = feedbacks
    },
    sendFeedback(): void {
      if (!this.presenter) return;
      const currentDate = new Date();
      const formattedDate = currentDate.toISOString();
      const viewModel = {
        idProduct: this.$route.params.id as string,
        nameUser: LocalStorageService.getUser()?.name,
        title: this.feedback.title,
        description: this.feedback.description,
        created_at: formattedDate
      } as FeedbackFormInterface
      this.presenter.sendFeedback(viewModel)
    },
  },
});
</script>
<style scoped lang="scss" src="./OverviewProduct.scss" />
