@import "../../assets/sass/app.scss";

.data-sheet {
    background: rgb(241, 241, 241);
    padding: 8px 10px 8px 10px;
}

.list-comment {
    border-left: 1px solid #b4bcbf !important;
}

@media (max-width: 767px) {
    .image-product {
        padding-right: 12px !important;
        margin-bottom: 12px;

        img {
            border-radius: 4px !important;
        }
    }

    #card-value {
        padding-left: 12px !important;

        .card {
            border-left: 1px solid #b4bcbf !important;
            border-radius: 4px !important;
        }
    }
}