<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-5 shadow-sm pb-0 pt-3 bg-body">
    <div class="container">
      <ul class="navbar-nav">
        <div class="w-25 pb-3 me-4">
          <img :src="require('@/assets/logo.png')" alt="logo" class="img-fluid w-100" />
        </div>
      </ul>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDarkDropdown" v-if="user?.name">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ user?.name ?? "" }}
            </a>
            <ul class="dropdown-menu dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="#" @click="logout">Sair</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <ds-button text="Entrar" type="primary" @click="login" v-else />
    </div>
  </nav>
  <div class="container">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { LocalStorageService } from '@/services/LocalStorageService';
import { ResponseLogin } from '@/Interfaces/Login/LoginInterface';
export default defineComponent({
  data() {
    return {
      user: null as ResponseLogin | null
    };
  },
  mounted(){
    this.user = LocalStorageService.getUser();
  },
  methods: {
    login(){
      this.$router.push({ name: "Login"})
    },
    logout() {
      LocalStorageService.clearUser();
      this.$router.go(0)
    }
  },
});
</script>
<style lang="scss" src="./Navbar.scss" />