<template>
    <form class="form-login w-50 m-auto">
        <div class="card">
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                        v-model="form.email">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Senha"
                        v-model="form.password">
                    <label for="floatingPassword">Senha</label>
                </div>
                <ds-button class="float-end mt-2" text="Entrar" type="primary" @on-click="doLogin"/>
            </div>
        </div>
    </form>
</template>
<script lang="ts">
import { Login } from "@/Interfaces/Login/LoginInterface";
import { LoginViewInterface } from "@/Interfaces/Login/LoginViewInterface";
import { defineComponent } from "vue";
import { LoginPresenter } from "./LoginPresenter";

export default defineComponent({
    data() {
        return {
            form: {
                email: "",
                password: ""
            } as Login,
            presenter: null as LoginPresenter | null,
        };
    },
    mounted() {
        this.presenter = new LoginPresenter(this as LoginViewInterface);
    },
    methods: {
        doLogin(): void {
            this.presenter?.doLogin(this.form)
        },
    }
});
</script>